/* 
 * We don't define fallback values to let the initial values subsist (if any).
 * This could catch the case of a missing prop and instead of a default value
 * we would rely on the default from the SVG.
 */

.compose-icon {
  --icon-size: var(--icon-size-m);
  width: var(--icon-size);
  height: var(--icon-size);
}

.compose-icon path,
.compose-icon rect,
.compose-icon circle,
.compose-icon ellipse {
  /* stroke: var(--icon-stroke); */
}

.compose-icon.size-s {
  --icon-size: var(--icon-size-s);
}

.compose-icon.size-m {
  --icon-size: var(--icon-size-m);
}

.compose-icon.size-l {
  --icon-size: var(--icon-size-l);
}

.compose-icon.size-xl {
  --icon-size: var(--icon-size-xl);
}
