.home-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(0deg, #070101 0%, #2f0a0b 50%, #070101 100%);
  z-index: -1;
}

.wrapper {
  // width: clamp(16rem, 100svw, 90rem);
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.home-content {
  min-height: calc(100svh - var(--vp-nav-height));
  // display: flex;
  // align-items: center;
}

// @media (min-width: 960px) {
.VPLocalNav.empty {
  display: none;
}
// }

.container {
  // container-type: inline-size;
}

.parallax {
  perspective: 1px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.parallax__layer {
  position: absolute;
  inset: 0;
  // padding: 100vh 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
