.home-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(0deg, #070101 0%, #2f0a0b 50%, #070101 100%);
  z-index: -1;
}

.home-content {
  min-height: calc(100svh - var(--vp-nav-height));
  display: flex;
  align-items: center;
}

// @media (min-width: 960px) {
.VPLocalNav.empty {
  display: none;
}
// }

.container {
  // container-type: inline-size;
}

.parallax {
  perspective: 1px;
  min-height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.parallax__layer {
  position: absolute;
  right: 0;
  left: 0;

  height: 100%;
  // padding: 100vh 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
