@use 'variables' as *;

// media query
@mixin media($size) {
  $query: map-get($breakpoints, $size);

  @media only screen and (min-width: $query) {
    @content;
  }
}

// line clamp
@mixin line-clamp($row-number) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row-number;
  overflow: hidden;
}
