// $breakpoints: (
//   sm: 30em,
//   // 480px
//   md: 50em,
//   // 800px
//   lg: 75em, // 1200px
// );

$colors: (
  'text': #e5e5e5,
  'background': #1e232c,
  'primary': var(--vp-c-brand-1),
  'secondary': #5b1215,
  'accent': #00f3f3,
);

/**
 * Use Utopia to generate responsive font sizes
 * @link https://utopia.fyi/type/calculator
 */
// $font-sizes: (
//   '300': 0.875rem,
//   '400': 1rem,
//   '500': 1.25rem,
//   '600': 1.5rem,
//   '700': 2rem,
//   '800': 2.5rem,
//   '900': 3.5rem,
// );

// $font-sizes: (
//   'xs': clamp(0.5002rem, 0.7154rem + -0.105vw, 0.6944rem),
//   'sm': clamp(0.7072rem, 0.847rem + -0.0682vw, 0.8333rem),
//   'md': clamp(1rem, 1rem + 0vw, 1rem),
//   'lg': clamp(1.2rem, 1.1769rem + 0.1157vw, 1.414rem),
//   'xl': clamp(1.44rem, 1.3795rem + 0.3024vw, 1.9994rem),
//   '2xl': clamp(1.728rem, 1.6092rem + 0.5941vw, 2.8271rem),
//   '3xl': clamp(2.0736rem, 1.8656rem + 1.04vw, 3.9976rem),
// );
// --text--2: clamp(0.5002rem, 0.8215rem + -0.1567vw, 0.7901rem);
// --text--1: clamp(0.7072rem, 0.9085rem + -0.0982vw, 0.8889rem);
// --text-0: clamp(1rem, 1rem + 0vw, 1rem);
// --text-1: clamp(1.125rem, 1.0938rem + 0.1562vw, 1.414rem);
// --text-2: clamp(1.2656rem, 1.1863rem + 0.3966vw, 1.9994rem);
// --text-3: clamp(1.4238rem, 1.2721rem + 0.7586vw, 2.8271rem);
// --text-4: clamp(1.6018rem, 1.3428rem + 1.295vw, 3.9976rem);
// Copy
/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,2700,16,1.5,4,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -2: 10.24px → 9.0045px */
  --text--2: clamp(0.5628rem, 0.6504rem + -0.0519vw, 0.64rem);
  /* Step -1: 12.8px → 12.003px */
  --text--1: clamp(0.7502rem, 0.8067rem + -0.0335vw, 0.8rem);
  /* Step 0: 16px → 16px */
  --text-0: clamp(1rem, 1rem + 0vw, 1rem);
  /* Step 1: 20px → 21.328px */
  --text-1: clamp(1.25rem, 1.2388rem + 0.0558vw, 1.333rem);
  /* Step 2: 25px → 28.4302px */
  --text-2: clamp(1.5625rem, 1.5337rem + 0.1441vw, 1.7769rem);
  /* Step 3: 31.25px → 37.8975px */
  --text-3: clamp(1.9531rem, 1.8973rem + 0.2793vw, 2.3686rem);
  /* Step 4: 39.0625px → 50.5174px */
  --text-4: clamp(2.4414rem, 2.089rem + 1.7621vw, 3.375rem);
}
$font-sizes: (
  'xs': var(--text--2),
  'sm': var(--text--1),
  'md': var(--text-0),
  'lg': var(--text-1),
  'xl': var(--text-2),
  'xxl': var(--text-4),
);

$font-weights: (
  'light': 300,
  'regular': 400,
  'bold': 700,
);

// -----------------------------------------------------------------------------

// 6 - Breakpoints

$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-xl: 1280px;
$breakpoint-desktop-xxl: 1820px;

$breakpoints: (
  'xs': $breakpoint-mobile,
  'sm': $breakpoint-tablet,
  'md': $breakpoint-desktop,
  'lg': $breakpoint-desktop-xl,
  'xl': $breakpoint-desktop-xxl,
);
