/* 
 * We don't define fallback values to let the initial values subsist (if any).
 * This could catch the case of a missing prop and instead of a default value
 * we would rely on the default from the SVG.
 */

.compose-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.compose-icon.size-xs {
  --icon-size: var(--icon-size-xs);
}

.compose-icon.size-sm {
  --icon-size: var(--icon-size-sm);
}

.compose-icon.size-md {
  --icon-size: var(--icon-size-md);
}

.compose-icon.size-lg {
  --icon-size: var(--icon-size-lg);
}

.compose-icon.size-xl {
  --icon-size: var(--icon-size-xl);
}
