name: Buid and Deploy docs

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          node_version: ${{ inputs.node_version }}
          pnpm_version: 9
          cache: 'pnpm'

      - name: Build with VitePress
        run: pnpm docs:build

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          # TODO: add to Wiki https://github.com/github/vscode-github-actions/issues/222
          key: ${{ secrets.SSH_KEY }}
          known_hosts: unnecessary

      - name: Set up SSH key
        run: |
          ls -la ~/.ssh

      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy build with rsync
        run: rsync -avz ./docs/.vitepress/dist/ ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:/var/www/nuxt-icons.use-compose.com/

  build-and-deploy-playground:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          node_version: ${{ inputs.node_version }}
          pnpm_version: 9
          cache: 'pnpm'

      - name: Prepare
        run: pnpm dev:prepare

      - name: Build
        run: pnpm dev:build

      - name: Generate playground
        run: pnpm dev:generate

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: unnecessary

      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy build with rsync
        run: rsync -avz ./packages/nuxt/playground/.output/public/ ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:/var/www/nuxt-icons-playground.use-compose.com/
